@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";


body {
    background: #F2F2F2;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

p:last-child {
    margin: 0;
}

a {
    text-decoration: none;
}


button {
    font-family: 'Work Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.Toastify {
    position: absolute;
    z-index: 99999999999999999 !important;
}